.features{
    width: 962px;
    height: 1157px;
    margin: 80px 24.19% 80px 25.77%;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}
.features h2{
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0%;
    color: #343A40;
    margin: 0 25.06% 68px;
}
.projectSection{
    width: 100%;
    height: 100%;
}
.projectSection div{
    width: 100%;
}
.projectSection h3{
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #343A40;
    margin-bottom: 3px;
}
.projectSection p{
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-top: 0;
}
.group1{
    height: 265px;
    display: flex;
    width: 100%;
    margin-bottom: 41.5px;
}
.group1 div{
    display: flex;
    flex-direction: column;
    margin-left: 98px;
    height: 100%;
}
.group1 img{
    width: 57.6%;
    height: 100%;
}
.group1 h3{
    margin-left: 1.27px;
    margin-top: 49px;
}
.group1 p{
    width: 309px;
    height: 112.86px;
    margin-bottom: 68px;
}
.group2{
    height: 364px;
    display: flex;
    width: 100%;
    margin-bottom: 41.5px;
}
.group2 div{
    display: flex;
    flex-direction: column;
    margin-right: 179px;
}
.group2 h3{
    margin-top: 91px;
    margin-right: 1.27px;
}
.group2 p {
    width: 309px;
    height: 112.86px;
    margin-bottom: 125px;
    margin-left: 1.27px;
}
.group2 img{
    width: 49.1%;
    height: 100%;
}
.group3{
    display: flex;
    height: 341px;
    width: 100%;
}
.group3 div{
    display: flex;
    flex-direction: column;
    margin-left: 179px;
}
.group3 img{
    width: 49.06%;
    height: 100%;
}
.group3 h3{
    margin-top: 46.5px;
    margin-left: 1.27px;
}
.group3 p{
    height: 112.86px;
    width: 309px;
}
/* companies */
.companies{
    width: 100%;
    max-width: 100%;
    min-width: 1924px;
    /* overflow: hidden; */
    height: 269px;
    background-color: #20014D;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-left: 23.28%;
    padding-right: 25.25%;
    color: #F4F7FE;
}
.companies h2{
    width: 364px;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0%;
    margin-top: 32px;
    margin-bottom: 16px;
    margin-left: 328px;
    margin-right:298px ;
    text-align: center;
}
.companies p{
    width: 244px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
    margin: 0;
    margin-left: 390px;
    margin-right: 358px;
    text-align: center;
}
.imgGroup{
    margin-top: 32px;
    margin-bottom: 32px;
    height: 105px;
    width: 990px;
    display: flex;
    /* align-items: center; */
}
.imgGroup img{
    width: 100px;
    margin-left: 78px;
}
.img1{
    height: 75px;
}
.img2{
    height: 35.4px;
}
.img3{
    height: 100px;
}
#intel{
    margin-bottom: 5px;
}
#adobe{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0;
}
#amazon{
    margin-top: 19px;
    margin-bottom: 11px;
}
#face{
    margin-top: 11px;
    margin-bottom: 21px;
}
#samsung{
    margin-top: 5px;
}
#google{
    margin-top: 33px;
    margin-bottom: 36.6px;
}
@media(max-width:1600px){

}
@media(max-width:1440px){
    .features{
        margin-left: 17.77%;
        margin-right: 15.37;
    }
    .companies{
        padding-left: 15.75%;
    }
}
@media(max-width:1250px){
    .features{
        margin-left: 15.77%;
        margin-right: 13.37;
    }
    .companies{
        padding-left: 13.75%;
    }
}
@media(max-width:1150px){
    .features{
        margin-left: 11.77%;
        margin-right: 9.37;
    }
    .companies{
        padding-left: 9.75%;
    }
}
@media(max-width:1080px){
    .features{
        margin-left: 7.77%;
        margin-right: 5.37;
        width: 820.27px;
        height: 1105px;
        margin-bottom: 130px;
    }
    .features h2{
        margin-bottom: 88px;
    }
    .projectSection{
        width: 820.27px;
        height: 966px;
    }
    .companies{
        padding-left: 4.5%;
    }

}
@media(max-width:1050px){
    .features{
        margin-left: 7.77%;
        margin-right: 5.37%;
    }
    .companies{
        padding-left: 0.5%;
    }
}
@media(max-width:990px){
    .features{
        margin-left: 0.77%;
        margin-right: 0.37%;
    }
    .companies{
        padding-left: 0%;
        padding-right: 0%;
    }
    .imgGroup{
        margin-left: 0.5%;
    }
    #adobe{
        margin-top: 11.1px;
        margin-bottom: 11.1px;
        width: 74.04px;
        height: 55.53px;
    }
    #amazon{
        width: 74.04px;
        height: 55.53px;
        margin-top: 11.1px;
        margin-bottom: 11.1px;
    }
    #face{
        width: 74.04px;
        height: 55.53px;
        margin-top: 11.1px;
        margin-bottom: 11.1px;
    }
    #google{
        width: 74.04px;
        height: 26.21px;
        margin-bottom: 27.1px;
        margin-top: 24.44px;
    }
    #intel{
        width: 74.04px;
        height: 74.04px;
        margin-bottom: 3.71px;
        margin-top: 0;
    }
    #samsung{
        margin-bottom: 0;
        margin-top: 3.71px;
        width: 74.04px;
        height: 74.04px;
    }
}
@media(max-width:850px){
    .features{
        margin-left: 1.77%;
        margin-right: 1.37;
        width: 820.27px;
        height: 1105px;
        margin-bottom: 130px;
    }
    .features h2{
        margin-bottom: 88px;
    }
    .projectSection{
        width: 820.27px;
        height: 966px;
    }
    .imgGroup img{
        width: 100px;
        margin-left: 60px;
    }
    .companies h2{
        margin-right: 0;
        margin-left: 12%;
    }
    .companies p{
        margin-left: 14.5%;
    }
    .group1 div{
        margin-left: 30px;
    }
    .group2 div{
        width: 338px;
        margin-right: 19px;
    }
    .group3 div{
        margin-left: 59px;
    }
    .group1 p{
        width: 250px;
    }
    .group2 p{
        width: 280px;
    }
    .group3 p{
        width: 280px;
    }
}
@media (max-width:768px){
    .features{
        width: 720.27px;
        height: 1105px;
        margin-left: 24px;
        margin-right: 23.73px;
        margin-bottom: 132px;
    }
    .features h2{
        width: 480px;
        height: 36px;
        font-family: Roboto;
        font-weight: 700;
        font-size: 32px;
        line-height: 36px;
        letter-spacing: 0%;
        margin-top: 0;
        margin-left: 137.27px;
        margin-right: 103px;
        margin-bottom: 103px;
    }
    .projectSection{
        width: 720px;
        height: 966px;
    }
    .group1 {
        width: 717.27px;
        height: 167px;
        margin-bottom: 136px;
        margin-top: 0;
    }
    .group1 div{
        margin-left: 0;
    }
    .group1 img{
        width: 348px;
        height: 167px;
        margin-right: 59px;
    }
    .group1 h3{
        width: 148px;
        height: 32px;
        font-family: Roboto;
        font-weight: 700;
        font-size: 28px;
        line-height: 32px;
        letter-spacing: 0%;
        margin-top: 0;
        margin-bottom: 3px;
    }
    .group1 p{
        width: 309px;
        height: 112.86px;
        margin-left: 1px;
        font-family: Roboto;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;
        margin-bottom: 16.14px;
    }
    .group2{
        width: 718px;
        height: 257px;
        margin-bottom: 154px;
        margin-top: 0;
    }
    .group2 div{
        margin-right: 0;
    }
    .group2 img{
        width: 334px;
        height: 257px;
        margin-left: 73.73px;
    }
    .group2 h3{
        width: 150px;
        height: 32px;
        margin-top: 58px;
        margin-bottom: 3px;
        font-weight: 700;
        font-size: 28px;
        line-height: 32px;
    }
    .group2 p{
        margin-top: 0;
        margin-bottom: 51.14px;
        width: 309px;
        height: 112.86px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
    .group3{
        width: 720.27px;
        height: 252px;
    }
    .group3 div{
        margin-left: 0;
    }
    .group3 img{
        width: 349px;
        height: 252px;
        margin-right: 61px;
    }
    .group3 h3{
        margin-top: 30px;
        margin-bottom: 3px;
        width: 170px;
        height: 32px;
        font-weight: 700;
        font-size: 28px;
        line-height: 32px;
    }
    .group3 p{
        margin-top: 0;
        margin-bottom: 74.14px;
        margin-left: 1.27px;
        width: 309px;
        height: 112.86px;
        font-family: Roboto;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;
    }
    .imgGroup img{
        margin-left: 57.75px;
    }
    .companies h2{
        margin-right: 0;
        margin-left: 10%;
    }
    .companies p{
        margin-left: 12.5%;
    }
}
