
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.features{
    width: 962px;
    height: 1157px;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    font-size: 1rem;
}
.features h2{
    font-weight: 700;
    font-size: 2em;
    line-height: 36px;
    letter-spacing: 0%;
    color: #343A40;
    margin-bottom:68px;
    margin-top: 0;
}
.projectSection{
    width: 100%;
    height: 100%;
}
.projectSection div{
    width: 100%;
}
.projectSection h3{
    font-weight: 700;
    font-size: 1.75em;
    line-height: 32px;
    letter-spacing: 0%;
    color: #343A40;
    margin-bottom: 3px;
}
.projectSection p{
    color: #757575;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    margin-top: 0;
}
.group1{
    height: 265px;
    display: flex;
    width: 100%;
    margin-bottom: 41.5px;
}
.group1 article{
    display: flex;
    flex-direction: column;
    margin-left: 98px;
    height: 100%;
}
.group1 img{
    width: 553px;
    height: 265px;
}
.group1 h3{
    margin-left: 1.27px;
    margin-top: 49px;
}
.group1 p{
    width: 309px;
    height: 112.86px;
    margin-bottom: 68px;
}
.group2{
    height: 364px;
    display: flex;
    width: 100%;
    margin-bottom: 41.5px;
    box-sizing: border-box;
}
.group2 article{
    display: flex;
    flex-direction: column;
    margin-right: 179px;
}
.group2 h3{
    margin-top: 91px;
    margin-right: 1.27px;
}
.group2 p {
    width: 309px;
    height: 112.86px;
    margin-bottom: 125px;
    margin-left: 1.27px;
}
.group2 img{
    width: 472px;
    height: 364px;
}
.group3{
    display: flex;
    height: 341px;
    width: 100%;
}
.group3 article{
    display: flex;
    flex-direction: column;
    margin-left: 179px;
}
.group3 img{
    width: 472px;
    height: 341px;
}
.group3 h3{
    margin-top: 46.5px;
    margin-left: 1.27px;
}
.group3 p{
    height: 112.86px;
    width: 309px;
}
/* companies */
.companies{
    width: 100%;
    height: 269px;
    background-color: #20014D;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F4F7FE;
    font-size: 1rem;
}
.companies h2{
    width: 364px;
    font-weight: 700;
    font-size: 2em;
    line-height: 36px;
    letter-spacing: 0%;
    margin-top: 32px;
    margin-bottom: 16px;
    text-align: center;
}
.companies p{
    width: 244px;
    font-weight: 400;
    font-size: 0.75em;
    line-height: 16px;
    letter-spacing: 0%;
    margin: 0;
    text-align: center;
}
.imgGroup{
    max-width:990px;
    margin-top: 32px;
    margin-bottom: 32px;
    height: 105px;
    display: flex;
}
.imgGroup img{
    width: 100px;
    margin-left: 78px;
}
.img1{
    height: 75px;
}
.img2{
    height: 35.4px;
}
.img3{
    height: 100px;
}
#intel{
    margin-bottom: 5px;
}
#adobe{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0;
}
#amazon{
    margin-top: 19px;
    margin-bottom: 11px;
}
#face{
    margin-top: 11px;
    margin-bottom: 21px;
}
#samsung{
    margin-top: 5px;
}
#google{
    margin-top: 33px;
    margin-bottom: 36.6px;
}
@media(max-width:1080px){
    .features h2{
        width: 500px;
        margin-bottom: 88px;
    }

}
@media(max-width:990px){
    #adobe{
        margin-top: 11.1px;
        margin-bottom: 11.1px;
        width: 74.04px;
        height: 55.53px;
    }
    #amazon{
        width: 74.04px;
        height: 55.53px;
        margin-top: 11.1px;
        margin-bottom: 11.1px;
    }
    #face{
        width: 74.04px;
        height: 55.53px;
        margin-top: 11.1px;
        margin-bottom: 11.1px;
    }
    #google{
        width: 74.04px;
        height: 26.21px;
        margin-bottom: 27.1px;
        margin-top: 24.44px;
    }
    #intel{
        width: 74.04px;
        height: 74.04px;
        margin-bottom: 3.71px;
        margin-top: 0;
    }
    #samsung{
        margin-bottom: 0;
        margin-top: 3.71px;
        width: 74.04px;
        height: 74.04px;
    }
}
@media (max-width:965px){
    .features{
        width: 820.27px;
        height: 1105px;
        margin-bottom: 130px;
    }
    .features h2{
        margin-bottom: 88px;
    }
    .projectSection{
        width: 820.27px;
        height: 966px;
    }
    .imgGroup img{
        width: 100px;
        margin-left: 60px;
    }
    .group1 article{
        margin-left: 30px;
    }
    .group2 article{
        width: 338px;
        margin-right: 19px;
    }
    .group3 article{
        margin-left: 59px;
    }
    .group1 p{
        width: 250px;
    }
    .group2 p{
        width: 280px;
    }
    .group3 p{
        width: 280px;
    }
}
@media (max-width:835px){
    .group1 img{
        width: 348px;
        height: 167px;
        margin-right: 66.75px;
    }
    .group2 img{
        width: 334px;
        height: 257px;
        margin-left: 73.73px;
    }
    .group3 img{
        width: 349px;
        height: 252px;
        margin-right: 61px;
    }
    .features{
        width: 720.27px;
        height: 1105px;
        margin-bottom: 132px;
    }
    .features h2{
        width: 480px;
        height: 36px;
        margin-top: 0;
        /* margin-left: 137.27px; */
        margin-right: 103px;
        margin-bottom: 103px;
    }
    .projectSection{
        width: 720px;
        height: 966px;
    }
    .group1 {
        width: 717.27px;
        height: 167px;
        margin-bottom: 136px;
        margin-top: 0;
    }
    .group1 article{
        margin-left: 0;
    }
    .group1 h3{
        width: 148px;
        height: 32px;
        margin-top: 0;
        margin-bottom: 3px;
    }
    .group1 p{
        width: 309px;
        height: 112.86px;
        margin-left: 1px;
        margin-bottom: 16.14px;
    }
    .group2{
        width: 718px;
        height: 257px;
        margin-bottom: 154px;
        margin-top: 0;
    }
    .group2 article{
        margin-right: 0;
    }
    .group2 h3{
        width: 150px;
        height: 32px;
        margin-top: 58px;
        margin-bottom: 3px;
    }
    .group2 p{
        margin-top: 0;
        margin-bottom: 51.14px;
        width: 309px;
        height: 112.86px;
    }
    .group3{
        width: 720.27px;
        height: 252px;
    }
    .group3 article{
        margin-left: 0;
    }
    .group3 h3{
        margin-top: 30px;
        margin-bottom: 3px;
        width: 170px;
        height: 32px;
    }
    .group3 p{
        margin-top: 0;
        margin-bottom: 74.14px;
        margin-left: 1.27px;
        width: 309px;
        height: 112.86px;
    }
    .imgGroup img{
        margin-left: 40.75px;
    }
}
@media (max-width:730px){
    .features{
        width: 349px;
        height: auto;
    }
    .features h2{
        margin: 0;
        width: 329px;
        height: 64px;
        text-align: center;
    }
    .projectSection{
        width: 349px;
        height: auto;
        margin-top: 50px;
    }
    .group1 ,.group3{
        height: auto;
        flex-direction: column;
    }
    .group2 {
        height: auto;
        flex-direction: column-reverse;
    }
    .group1 img{
        margin-right: 0;
    }
    .group2 img{
        margin-left: 0;
    }
    .group3 img{
        margin-right: 0;
    }
    .imgGroup{
        width: 335px;
        height: 35.53px;
    }
    .imgGroup img{
        margin-left: 26.39px;
    }
    #adobe{
        margin-top: 5.08px;
        margin-bottom: 5.08px;
        width:33.84px;
        height: 25.378787994384766px;
    }
    #amazon{
        width: 33.838382720947266px;
        height: 25.378787994384766px;
        margin-top: 5.08px;
        margin-bottom: 5.08px;
    }
    #face{
        width: 33.838382720947266px;
        height: 25.378787994384766px;
        margin-top: 5.08px;
        margin-bottom: 5.08px;
    }
    #google{
        width: 33.838382720947266px;
        height: 11.97826099395752px;
        margin-bottom: 12.38px;
        margin-top: 11.17px;
    }
    #intel{
        width: 33.838382720947266px;
        height: 33.838382720947266px;
        margin-bottom: 1.7px;
        margin-top: 0;
    }
    #samsung{
        margin-bottom: 0;
        margin-top: 1.7px;
        width: 33.838382720947266px;
        height: 33.838382720947266px;
    }
}
@media (max-width:375px){
    .features{
        margin-bottom: 196px;
        margin-bottom: 143px;
        width: 329px;
        height: 1127px;
    }
    .features h2{
        width: 329px;
        height: 64px;
        font-size: 1.75em;
        line-height: 32px;
        text-align: center;
        margin-bottom: 36px;
    }
    .projectSection{
        width: 298px;
        height: 1027px;
        margin-left: 19px;
        margin-right: 12px;
    }
    .group1{
        width: 298px;
        height: 241px;
        margin-bottom: 89px;
    }
    .group1 img{
        width: 184.24px;
        height: 72px;
        margin-top: 0;
        margin-bottom: 12px;
        margin-left: 56.88px;
        margin-right: 56.88px;
    }   
    .group1 h3{
        width: 183px;
        height: 32px;
        margin-top: 0;
        margin-bottom: 12px;
        margin-left: 56.88px;
        margin-right: 58.12px;
    }
    .group1 p{
        width: 298px;
        height: 113px;
        margin: 0;
    }
    .group2{
        width: 298px;
        height: 298px;
        margin-bottom: 107px;
    }
    .group2 img{
        width: 190.42323303222656px;
        height: 118px;
        margin-top: 0;
        margin-left: 54.41px;
        margin-right: 53.17px;
        margin-bottom: 19px;
    }
    .group2 h3{
        width: 185.4771728515625px;
        height: 32px;
        margin: 0 46.99px 16px 65.54px;
    }
    .group2 p{
        width: 298px;
        height: 113px;
        margin: 0;
    }
    .group3{
        width: 298px;
        height: 292px;
        margin:0;
    }
    .group3 img{
        width: 190.42323303222656px;
        height: 111px;
        margin-bottom: 20px;
        margin-top: 0;
        margin-left: 53.17px;
        margin-right: 54.41px;
    }
    .group3 h3{
        width: 210.2074737548828px;
        height: 32px;  
        margin-top: 0;
        margin-left: 48.22px;
        margin-right: 39.57px;
        margin-bottom: 16px;
    }
    .group3 p{
        width: 298px;
        height: 113px;
        margin:0;
    }
    .companies p{
        width: 244px;
        height: 16px;
        text-align: center;
    }
    .companies h2{
        font-size: 1.75em;
        width: 318px;
        height: 32px;
        text-align: center;
    }
}

