.hero{
    width: 960px;
    height: 428px;
    margin-left: 25.05%;
    margin-right: 25.05%;
    padding-top: 12px;
    padding-bottom: 58px;
    margin-top: 80px;
    margin-bottom: 80px;
    box-sizing: border-box;
}
.boxHero{
    width: 100%;
    height: 100%;
    display: flex;
}
.heroImg{
    width: 553px;
    height: 100%;
}
.boxHero h1{
    width: 308.41px;
    height: 73.82px;
    font-size: 2.5rem;
    line-height: 40px;
    letter-spacing: 0%;
    color: #343A40;
    margin-top: 21.93px;
    font-weight: 700;
    margin-bottom: 0;
}
.boxHero p{
    width: 308.41px;
    height: 162.92px;
    font-size: 1.25rem;
    line-height: 24px;
    letter-spacing: 0%;
    color: #A5A8AC;
    margin-top: 15.98px;
    font-weight: 400;
    margin-bottom: 0;
}
.textBox{
    margin-left: 98.59px;
}
.btnGet{
    font-family: "Open Sans", sans-serif;
    font-size: 0.875rem;
    line-height: 16px;
    letter-spacing: 0px;
    color: #FFFFFF;
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center;
    border:1px solid #EF5B59 ;
    border-radius: 4px;
    width: 145px;
    height: 40px;
    padding:12px 16px;
    margin-top: 14.35px;
    margin-bottom: 29px;
    margin-right: 164px;
    gap: 10px;
    background-color: #EF5B59;
    transition: color 1s ease;
    transition: background-color 0.6s ease;
    font-weight: 600;
}
.btnGet:hover{
    background-color: #FFFFFF ;
    color:#EF5B59;
}

.subscrible{
    width: 100%;
    max-width: 100%;
    min-width: 1924px;
    height: 400px;
    background-color: #F4F7FE;
    padding-left: 40.02%;
    padding-right: 40.06%;
    box-sizing: border-box;
    display: inline-flex;
}
.group{
    margin-top: 82px;
    margin-bottom: 81.72px;
    width: 383.23px;
    height: 236px;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}
.group img {
    width: 22.72px;
    height: 20.69px;
    margin-left:181.45px ;
    margin-right: 181.77px;
}

.group h2 {
    font-size: 2em;          
    line-height: 36px;       
    letter-spacing: 0;       
    text-align: center;       
    display: flex;            
    align-items: center;      
    justify-content: center;   
    font-weight: 700; 
    margin-top: 11.9px; 
    margin-bottom: 0;  
    width: 313px;
    height: 36px;
    margin-left: 35.23px;
    margin-right: 35px;
}

.group p {
    text-align: center;
    letter-spacing: 0;  
}

.textGroup_1{
    color:#757575;
    font-weight: 400;
    font-size: 1em;
    margin-top: 12.26px;
    margin-bottom: 12.15px;
    width: 383px;
    height: 72px;
    margin-left: 0.23px;
}
.subscrible aside{
    width: 383px;
    height: 16px;
    margin-top: 15.28px;
    margin-bottom: 0;
    margin-right: 0.23px;
}
.textGroup_2{
    color: #343A40;
    font-weight: 700;
    font-style: italic;
    font-size: 0.75em;
    line-height: 16px;
    vertical-align: middle;
    margin: 0;
}

.boxInputSub{
    width: 100%;
    height: 16.92%;
    display: flex;
}
.boxInputSub input {
    width: 70.19%;
    height: 40px;
    margin-right: 16px;
    border: 1px solid #757575;
    border-radius: 5px;
    box-sizing: border-box;
}
.boxInputSub input::placeholder {
    font-weight: 400;        
    font-size: 12px;         
    line-height: 16px;       
    letter-spacing: 0;        
    color: #757575;             
}
.boxInputSub button{
    width: 25.57%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 0.875em;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0px;
    color: #FFFFFF;
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center;
    padding:12px 16px;
    gap:10px;
    border-radius: 4px;
    border: none;
    background-color: #EF5B59;
    transition: color 1s ease;
    transition: background-color 0.6s ease;
    margin-right: 0.23px;
}
.boxInputSub button:hover{
    background-color: #FFFFFF;
    color:#EF5B59;
    border: 1px solid #EF5B59;
}

@media(max-width:1440px){
    .hero{
        margin-left: 16.8%;
        margin-right: 16.52%;
    }
}

@media(max-width:1250px){
    .hero{
        margin-left: 14.8%;
        margin-right: 14.52%;
    }
    .subscrible{
        padding-left: 38.02%;
    }
}

@media(max-width:1150px){
    .hero{
        margin-left: 10.8%;
        margin-right: 10.52%;
    }
    .subscrible{
        padding-left: 34.02%;
    }
}

@media(max-width:1080px){
    .subscrible{
        padding-left: 30.02%;
    }
    .hero{
        margin-left: 6.8%;
        margin-right: 6.52%;
        padding-left: 0.5%;
        padding-right: 12.7%;
        padding-top: 7.94%;
        padding-bottom: 23.55%;
    }
    .boxHero{
        width: 818px;
        height: 400.92px;
    }
    .heroImg{
        width: 449.23px;
        height: 300px;
    }
    .textBox h1{
        width: 310.39px;
        height: 73.82px;
        font-size: 2.375rem;
        line-height: 40px;
        margin-top: 0;
    }
    .textBox{
        margin-left: 58.37px;
    }
    .textBox p{
        width: 310.39px;
        height: 162.92px;
        margin-top: 5.18px;
        font-size: 1.1875rem;
        line-height: 24px;
    }
    .btnGet{
        margin-top: 6px;
    }
}
@media(max-width:1150px){
    .hero{
        margin-left: 6.8%;
        margin-right: 6.52%;
    }
    .subscrible{
        padding-left: 26.02%;
    }
}
@media(max-width:990px){
    .hero{
        margin-left: 0%;
        margin-right: 0%;
    }
    .subscrible{
        padding-left: 22.02%;
    }
}
@media(max-width:850px){ 
    .hero{
        margin-left: 1.8%;
        margin-right: 1.52%;
        padding-left: 0.5%;
        padding-right: 12.7%;
        padding-top: 7.94%;
        padding-bottom: 23.55%;
    }
    .boxHero{
        width: 758px;
        height: 300.92px;
    }
    .heroImg{
        width: 379.23px;
        height: 274px;
    }
    .textBox h1{
        width: 310.39px;
        height: 73.82px;
        font-size: 2rem;
        line-height: 36px;
        margin-top: 0;
    }
    .textBox{
        margin-left: 58.37px;
    }
    .textBox p{
        width: 310.39px;
        height: 162.92px;
        margin-top: 2.18px;
        font-size: 1rem;
        line-height: 24px;
    }
    .btnGet{
        margin-top: 0px;
    }
}
@media(max-width:768px){ 
    .hero{
        margin-left: 0;
        margin-right: 0;
        padding-left: 2.7%;
        padding-right: 12.7%;
        padding-top: 34px;
        padding-bottom: 115px;
    }
    .boxHero{
        width: 718px;
        height: 300.92px;
    }
    .heroImg{
        width: 349.23px;
        height: 224px;
    }
    .textBox{
        margin-left: 58.37px;
    }
    .btnGet{
        margin-top: 0px;
    }
}
@media(max-width:730px){ 
    .hero{
        padding-left: 25.02%;
        padding-right: 25.05%;
        padding-top: 0px;
        padding-bottom: 0px;
        height: auto;
    }
    .boxHero{
        flex-direction: column;
        height: auto;
        width: 349px;
    }
    .textBox{
        margin-left: 0;
        margin-top: 15px;
    }
    .btnGet{
        margin-bottom: 0;
    }
}
@media(max-width:525px){ 
    .hero{
        padding-left: 19.02%;
        padding-right: 19.05%;
        padding-top: 0px;
        padding-bottom: 0px;
        height: auto;
    }
    .subscrible{
        padding-left: 19.02%;
    }
}
@media (max-width:490px){
    .hero{
        padding-left: 13.02%;
        padding-right: 13.05%;
    }
    .subscrible{
        padding-left: 13.02%;
    }
}
@media (max-width:450px){
    .hero{
        padding-left: 1.5%;
        padding-right: 0.5%;
    }
    .subscrible{
        padding-left: 0.5%;
    }
    .textGroup_1{
        font-size: 0.9375em;
    }
    .boxInputSub button{
        width: 23.7%;
    }
    .boxInputSub input {
        margin-right: 12px;
    }
}
@media (max-width:375px){
    .hero{
        padding-left: 0%;
        padding-right: 0%;
    }
    .heroImg{
        width: 155px;
        height: 100px;
        margin-left: 85px;
    }
    .boxHero{
        width: 325px;
        margin-left:25px;
    }
    .btnGet{
        width: 155px;
    }
    .boxInputSub button{
        width: 136px;
        height: 32px;
    }
    .boxInputSub input {
        width: 182px;
        height: 32.67px;
        margin-right: 6.29px;
    }
    .subscrible{
        padding: 0;
    }
    .group{
        width: 327px;
        height: 193.35012817382812px;
        margin-top: 103.65px;
        margin-bottom: 103px;
        margin-left: 25px;
    }
    .group img{
        width: 17.94865608215332px;
        height: 16.895973205566406px;
        margin-top: 0;
        margin-left: 157px;
    }
    .group h2{
        margin-top: 9.45px;
        margin-left: 20px;
        margin-left: 15px;
        margin-bottom: 0;
        width: 292px;
        height: 30px;
        font-weight: 700;
        font-size: 1.75em;
        line-height: 32px;
        text-align: center;
        vertical-align: middle;
    }
    .textGroup_1{
        width: 302.63092041015625px;
        height: 58.80568313598633px;
        margin-top: 9.68px;
        margin-right: 10.37px;
        margin-left: 14px;
        margin-bottom: 1.8px;
        font-weight: 400;
        font-size: 0.75em;
        line-height: 16px;
        text-align: center;
    }
    .subscrible aside{
        margin:21.04px 0 0 0;
        width: 327px;
        height: 13px;
    }  
}